<div class="CONTAINER">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                 
                     <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                        
                    
                    <div class="row">
                        <input type="hidden" name="_id" #_id="ngModel"[(ngModel)]
                        ="employeeService.selectedEmployee._id">
                        <div class="input-field col s12">
                            <input type="text" name="name" #name="ngModel"
                             [(ngModel)]="employeeService.selectedEmployee.name"
                             placeholder="Enter your name">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="position" #name="ngModel"
                             [(ngModel)]="employeeService.selectedEmployee.position"
                             placeholder="Enter your position">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="office" #name="ngModel"
                             [(ngModel)]="employeeService.selectedEmployee.office"
                             placeholder="Enter your office">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="salary" #name="ngModel"
                             [(ngModel)]="employeeService.selectedEmployee.salary"
                             placeholder="Enter your salary">
                        </div>
                        <div class="Card-action">
                            <div class="text-filed col s8">
                                <button class="btn right ">SAVE</button>
                                <button class=" btn right" (click)= resetForm(employeeForm)>CLEAR</button>
                            </div>
                        </div>
                      
                       
                       
                    </div>
                     </form>
                </div>
            </div>
        </div>

        <div class="col s7">
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Operations</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeService.employees">
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.position }}</td>
                            <td>{{ employee.office}}</td>
                            <td>
                                <a (click)="editEmployee(employee)">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a (click)="deleteEmployee(employee._id)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
